<!DOCTYPE html>
<html>
  <head>
    <title>SoundCloud2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script type="text/javascript">
      window.logourl = "<%= image_url('logo.png') %>"
      window.idkurl = "<%= image_url('idk.jpg')%>"
      window.logo2url="<%= image_url('newsoundcloudlogo.png')%>"
      window.idk2url = "<%= image_url("banner.jpg")%>"
      window.skyurl = "<%= image_url("nice sky.jpg")%>"
      window.playbuttonurl = "<%= image_url("circle-cropped.png")%>"

    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
